<div class="home-banner">
  <h1>COCKTAILS</h1>
</div>

<div class="cocktails-container">

  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">>
      <h2 class="cocktail-name "><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    </div>
  <% end %>
  <%= link_to new_cocktail_path do%>
  <i class="fas fa-plus-circle" id="add-button"></i>
  <% end %>
</div>
