<div class="home-banner">
  <h1>COCKTAILS</h1>
</div>


<%= link_to new_cocktail_path do%>
  <i class="fas fa-plus-circle" id="add-button"></i>
  <% end %>

<ul>
<% @cocktails.each do |cocktail| %>
  <li><h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2></li>
<% end %>
</ul>
