.home-banner-new {
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 25vh;
  color: #AD0904;
  font-size: 80px;
  text-shadow: 1px 1px 5px black;
}


.form-group {
  margin: 0 auto;
  width: 500px;
}

button {
  background: transparent;
  border: none;
}

#add-button-new {
  background: transparent;
  padding-top: 30px;
  transition: color 0.5s ease;
  text-shadow: 1px 1px 5px black
}

#add-button-new:hover {
  color: #D10B05;
}
