.cocktail-card {
  background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(67,67,67,0.8)), url("https://images.unsplash.com/photo-1496318447583-f524534e9ce1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c405034528cf04acab707e51be371d3c&auto=format&fit=crop&w=1600&q=60") no-repeat center;
  background-size: cover;
  height: 60vh;
  color: #eee;
  position:relative;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  text-align: center;
}

.cocktail-card h2 {
  margin: 0;
  padding: 25vh;
  text-shadow: 1px 1px 5px black
}

.cocktail-container a {
  color: #AD0904;
  font-size: 80px;
  transition: color 0.5s ease;
}

a:hover {
  color: #D10B05;
  text-decoration: none;
}
.fas {
  font-size: 150px;
  color: #AD0904;
}

#add-button {
  position: absolute;
  top: 360px;
  right: 100px;
  padding-top: 20px;
  transition: color 0.5s ease;
  text-shadow: 1px 1px 5px black
}

#add-button:hover {
  color: #D10B05;
}

#add-button.sticky {
  position: fixed ;
  top: 40px;
}
