.cocktail-card {

  background-size: cover;
  height: 60vh;
  color: #eee;
  position:relative;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  text-align: center;
}

.cocktail-card h2 {
  margin: 0;
  padding: 25vh;

  text-shadow: 1px 1px 5px black
}

.cocktail-name {
  color: #AD0904;
}

.cocktail-name a {
  color: #AD0904;
  font-size: 80px;
  transition: color 0.5s ease;
}

a:hover {
  color: #D10B05;
  text-decoration: none;
}
.fas {
  font-size: 150px;
  color: #AD0904;
}

#add-button {
  position: absolute;
  top: 360px;
  right: 100px;
  padding-top: 20px;
  transition: color 0.5s ease;
  text-shadow: 1px 1px 5px black
}

#add-button:hover {
  color: #D10B05;
}

#add-button.sticky {
  position: fixed ;
  top: 40px;
}
